body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f2f2f2;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;
            background: linear-gradient(135deg, #050A67, #00D4FF);
            color: white;
            text-align: center;
        }

        header h1 {
            font-size: 42px;
            margin: 0;
        }

        header p {
            font-size: 18px;
            margin-top: 15px;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 60px;
            padding: 60px 10%;
        }

        /* SECTION */
        .section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;
        }

        .section-text {
            flex: 1;
            min-width: 300px;
        }

        .section-text h2 {
            font-size: 28px;
        }

        .section-text p {
            font-size: 16px;
            line-height: 1.6;
        }

        .section-img {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .section-img img {
            width: 100%;
            max-width: 500px;
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        }


        .features {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }

        .card {
            flex: 1;
            min-width: 200px;
            background: white;
            padding: 20px;
            border-radius: 15px;
            text-align: center;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        /* BUTTON */
        .btn-container {
            display: flex;
            justify-content: center;
        }

        .btn {
            padding: 15px 40px;
            background: #00D4FF;
            color: white;
            text-decoration: none;
            border-radius: 30px;
            font-weight: bold;
            transition: 0.3s;
        }

        .btn:hover {
            background: #c9184a;
        }

        .img1{
            border-radius: 25px;
            width: 326px;
            height: 186px;
        }
        .img2{
            border-radius: 25px;
            width: 226px;
            height: 136px;
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            background: linear-gradient(135deg, #050A67, #00D4FF);
            color: white;
        }
